body {
    background: rgb(185,92,92);
    background: linear-gradient(138deg, rgba(185,92,92,1) 0%, rgba(121,47,134,1) 46%, rgba(59,43,140,1) 98%, rgba(155,69,252,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    overflow-x: hidden;
}

header {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

a {
    color: white;
}

.game {
    height: fit-content;
    width: fit-content;
    background-color: linear;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 35px;
    width: 35px;
    background-color: white;
    border: 1px solid #000000;
    transition: all 0.5s;
}

.row {
    display: flex;
    flex-direction: row;
}

.clicked {
    background-color: blue !important; 
}

.start {
    background-color: purple !important;
}

.path {
    background-color: yellow !important;
}

.goal {
    background-color: orange !important;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-top: 25px;
}

button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

.description {
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: fit-content;
    margin-top: 25px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 50px;
}

